.nav-link {
    text-align: right;
}

.header {
    /* background: rgb(66,165,245);
    background: linear-gradient(0deg, rgba(66,165,245,1) 50%, rgba(13,71,161,1) 100%); */
}

.header .title-header,
.header .sub-title {
    color: #f4916d;
    font-size: 70px;
    text-align: center;
}
.header .title-header{
    font-weight: 100;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.header .sub-title {
    font-size: 20px;
}
.header .price-description{
    color: #f4916d;
    text-align: right;
    
}
.header .price-description span{
    font-size: 12px;
}
.nav-tabs .nav-link{
    color: #f4916d;
}

/* first container */
.carousel-item img,
.evenning-look-image,
.half-evening-image,
.principal-image {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.half-evening-image {
    height: 217px;
}

a.buy-now {
    /* border: 2px solid black; */
    border-radius: 96px;
    padding: 20px;
    color: white;
    display: block;
    margin: 0 auto 0 auto;
    font-size: 22px;
    font-weight: bold;
}
#big-flower a.buy-now {
    background: rgb(240,205,179);
    background: linear-gradient(0deg, rgba(240,205,179,1) 5%, rgba(244,145,109,1) 90%);
}

#big-flower a.buy-now:hover {
    color: black;
}

#seashell a.buy-now {
    background: rgb(242, 164, 65);
    background: linear-gradient(0deg, rgba(242, 164, 65, 1) 0%, rgba(158, 203, 237, 1) 100%);
}

#seashell a.buy-now:hover {
    color: black;
}

#small-flower a.buy-now {
    background: rgb(240,205,179);
    background: linear-gradient(0deg, rgba(240,205,179,1) 5%, rgba(245,150,83,1) 90%);
}

#small-flower a.buy-now:hover {
    color: black;
}

a:hover {
    text-decoration: unset;
}

.headdress {
    height: 230px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
}

@media screen and (min-width:600px) {

    #first-container {
        /* margin-top: -100px; */
    }

    #first-container .card {
        height: 365px;
    }

}

@media screen and (max-width: 600px) {
    .header .title-header {
        font-size: 34px;
        margin-top: 35px;
    }
    .header .sub-title {
        font-size: 20px;
    }
    .header .price-description:last-child{
        margin-bottom: 35px;
    }
    .nav.nav-tabs{
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        padding-right: 0;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .nav.nav-tabs::-webkit-scrollbar {
        display: none;
      }

    .mt-mobile-5 {
        margin-top: 2rem;
    }

    a.buy-now {
        font-size: 17px;
    }

    .carousel-caption h5 {
        display: none;
    }

    .mb-mobile-5{
        margin-bottom: 2rem;
    }
    .carousel-item img{
        height: 181px;
    }
}